Checklist+Audit+SEO+2018.xlsx
Modèle-audit-SEO.xlsx
Optimisez un site web existant - OpenClassrooms.url
exemple-box/box-gastronomie.html
exemple-box/default.css
exemple-box/fonts.css
exemple-box/license.txt
exemple-box/fonts/fontawesome-social-webfont.eot
exemple-box/fonts/fontawesome-social-webfont.svg
exemple-box/fonts/fontawesome-social-webfont.ttf
exemple-box/fonts/fontawesome-social-webfont.woff
exemple-box/fonts/fontawesome-webfont.eot
exemple-box/fonts/fontawesome-webfont.svg
exemple-box/fonts/fontawesome-webfont.ttf
exemple-box/fonts/fontawesome-webfont.woff
exemple-box/fonts/FontAwesome.otf
exemple-box/images/banner.png
exemple-box/images/box produits bio.jpg
exemple-box/images/pic01.jpg
exemple-box/images/pic02.jpg
exemple-box/images/pic03.jpg
exemple-box/images/repas-gastronomie-produits-bio.jpg
P4_Noirbenne_Valentin/P4_03_rapport_optimisation/Vitesse de chargement desktop.PNG
P4_Noirbenne_Valentin/P4_03_rapport_optimisation/Vitesse de chargement mobile.PNG
